<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>

    <!-- CSS LINK -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h2>Admin Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit">Login</button>
        </form>

        <br>
        <a href="/">Back to Home</a>

    </div>

</body>
</html>